.footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

.socials {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1.5rem 0 0 0;
}

.socials li {
     margin: 0 10px;
}
.socials a {
     text-decoration: none;
     color: green;
}
.socials a i {
     font-size: 1.8rem;
     transition: color .4s ease;
}
.socials a:hover i {
     color: #157347;
}

.footer-bottom {
     padding-bottom: 15px;
}